aside
{
  position:absolute;
  top:20;
  left:90;
  width:150px;
  vertical-align: middle;
}

table
{
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
    background-color:#A4F0D7;
}

body
{
 background-image:url(imagenes/fondo2.jpg);
}
section
{
 color:black;
 position:absolute;
 left:600;
 top:160;
}

h1
{
 color:#7ED6EE;
 font-family:impact;
}

h2
{ 
 color:#7ED6EE;
}

img.opciones
{
 position:absolute;
 top:350;
 width: 165px; 
 height: 50px;
}


button
{
 position:absolute;
 top:350;
}