body
{
     text-align:center;
     background-image:url(imagenes/fondo.jpg);
}

table
{
    width: 200px; margin: 0 auto;
}

#abajo
{
  width: 200px; margin: 0 auto;
}

button
{
 width: 200px; margin: 0 auto;
}

#boton
{
 width: 200px; margin: 0 auto;
}